/* line 134, /Users/leenelson/code/medeohealth_com/source/css/_mixins.scss */
.cf:before, .cf:after {
  content: "";
  display: table; }

/* line 139, /Users/leenelson/code/medeohealth_com/source/css/_mixins.scss */
.cf:after {
  clear: both; }

/* line 143, /Users/leenelson/code/medeohealth_com/source/css/_mixins.scss */
.cf {
  zoom: 1; }

@font-face {
  font-family: 'medeo-font';
  src: url("../fonts/medeo-font.eot");
  src: url("../fonts/medeo-font.eot?#iefix") format("embedded-opentype"), url("../fonts/medeo-font.woff") format("woff"), url("../fonts/medeo-font.ttf") format("truetype"), url("../fonts/medeo-font.svg#medeo-font") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 12, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-angle-left, .icon-angle-right, .icon-angle-up, .icon-angle-down, .icon-cross, .icon-cross-2, .icon-smiley, .icon-smiley-2, .icon-sad, .icon-sad-2, .icon-neutral, .icon-neutral-2, .icon-twitter, .icon-facebook, .icon-twitter-2, .icon-facebook-2, .icon-clock, .icon-clock-2, .icon-locked, .icon-export, .icon-comment, .icon-envelop, .icon-mail, .icon-loop, .icon-desktop, .icon-users, .icon-aid, .icon-network, .icon-database, .icon-user, .icon-mobile, .icon-checkmark, .icon-checkmark-circle, .icon-check-alt, .icon-stethoscope, .icon-arrow-right, .icon-arrow-right-2, .icon-pill, .icon-list, .icon-reorder, .icon-device, .icon-date, .icon-question, .icon-mouse, .icon-play-alt, .icon-play, .icon-play-2, .icon-help, .icon-user-add, .icon-arrow-left, .icon-circle-arrow-left, .icon-circle-arrow-right, .icon-exclamation-sign, .icon-notification, .icon-warning-sign, .icon-arrow-sketch, .icon-money-sign {
  font-family: 'medeo-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* line 22, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-angle-left:before {
  content: "\e005"; }

/* line 25, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-angle-right:before {
  content: "\e006"; }

/* line 28, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-angle-up:before {
  content: "\e007"; }

/* line 31, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-angle-down:before {
  content: "\e008"; }

/* line 34, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-cross:before {
  content: "\e00a"; }

/* line 37, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-cross-2:before {
  content: "\e009"; }

/* line 40, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-smiley:before {
  content: "\e00b"; }

/* line 43, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-smiley-2:before {
  content: "\e00c"; }

/* line 46, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-sad:before {
  content: "\e00d"; }

/* line 49, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-sad-2:before {
  content: "\e00e"; }

/* line 52, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-neutral:before {
  content: "\e00f"; }

/* line 55, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-neutral-2:before {
  content: "\e010"; }

/* line 58, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-twitter:before {
  content: "\e004"; }

/* line 61, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-facebook:before {
  content: "\e011"; }

/* line 64, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-twitter-2:before {
  content: "\e012"; }

/* line 67, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-facebook-2:before {
  content: "\e013"; }

/* line 70, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-clock:before {
  content: "\e015"; }

/* line 73, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-clock-2:before {
  content: "\e016"; }

/* line 76, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-locked:before {
  content: "\e014"; }

/* line 79, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-export:before {
  content: "\e017"; }

/* line 82, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-comment:before {
  content: "\f075"; }

/* line 85, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-envelop:before {
  content: "\e018"; }

/* line 88, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-mail:before {
  content: "\e019"; }

/* line 91, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-loop:before {
  content: "\e01b"; }

/* line 94, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-desktop:before {
  content: "\f108"; }

/* line 97, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-users:before {
  content: "\e01d"; }

/* line 100, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-aid:before {
  content: "\e01e"; }

/* line 103, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-network:before {
  content: "\e01a"; }

/* line 106, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-database:before {
  content: "\e01f"; }

/* line 109, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-user:before {
  content: "\e021"; }

/* line 112, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-mobile:before {
  content: "\e022"; }

/* line 115, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-checkmark:before {
  content: "\e023"; }

/* line 118, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-checkmark-circle:before {
  content: "\e025"; }

/* line 121, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-check-alt:before {
  content: "\e026"; }

/* line 124, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-stethoscope:before {
  content: "\f0f1"; }

/* line 127, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-arrow-right:before {
  content: "\f061"; }

/* line 130, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-arrow-right-2:before {
  content: "\e027"; }

/* line 133, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-pill:before {
  content: "\e028"; }

/* line 136, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-list:before {
  content: "\e029"; }

/* line 139, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-reorder:before {
  content: "\f0c9"; }

/* line 142, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-device:before {
  content: "\e000"; }

/* line 145, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-date:before {
  content: "\e001"; }

/* line 148, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-question:before {
  content: "\e002"; }

/* line 151, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-mouse:before {
  content: "\e003"; }

/* line 154, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-play-alt:before {
  content: "\e01c"; }

/* line 157, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-play:before {
  content: "\e020"; }

/* line 160, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-play-2:before {
  content: "\e024"; }

/* line 164, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-help:before {
  content: "\e02a"; }

/* line 167, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-user-add:before {
  content: "\e02b"; }

/* line 170, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-arrow-left:before {
  content: "\e02c"; }

/* line 173, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-circle-arrow-left:before {
  content: "\f0a8"; }

/* line 176, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-circle-arrow-right:before {
  content: "\f0a9"; }

/* line 179, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-exclamation-sign:before {
  content: "\f06a"; }

/* line 182, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-notification:before {
  content: "\e02d"; }

/* line 185, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-warning-sign:before {
  content: "\f071"; }

/* line 188, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-arrow-sketch:before {
  content: "\e02e"; }

/* line 191, /Users/leenelson/code/medeohealth_com/source/css/_medeo-font.css.scss */
.icon-money-sign:before {
  content: "\e02f"; }

@font-face {
  font-family: 'medeo-font';
  src: url("../../fonts/medeo-font-9937a119.eot");
  src: url("../../fonts/medeo-font-9937a119.eot?#iefix") format("embedded-opentype"), url("../../fonts/medeo-font-86dddca0.woff") format("woff"), url("../../fonts/medeo-font-6c6d4998.ttf") format("truetype"), url("../../fonts/medeo-font-d22f003c.svg#medeo-font") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Fonts */
/* line 17, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
html, body,
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Avenir Next", "Helvetica Neue", "Helvetica", Arial, sans-serif; }

/* global */
/* line 23, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.btn {
  text-transform: uppercase; }

/* line 27, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.bg-midnight-blue {
  background-color: #2972c3; }

/* line 31, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.btn.btn-success {
  color: #fff;
  background-color: #5dc185;
  border-color: #449d68;
  border-radius: 2px; }

/* line 38, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.btn.btn-success:hover {
  background-color: #4bba77; }

/* line 42, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.btn.btn-info {
  color: #fff;
  background-color: #4ba2dc;
  border-color: #3a99d9;
  border-radius: 2px; }

/* header */
/* line 51, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.header-11 .navbar .brand {
  color: #2972c3;
  background-image: url("../../img/medeo-logo-flat.png");
  width: 107px;
  height: 33px;
  float: left;
  width: 109px;
  height: 33px;
  float: left;
  background-size: 109px 33px;
  margin: 25px 0; }
  @media all and (-webkit-min-device-pixel-ratio: 1.5) {
    /* line 51, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
    .header-11 .navbar .brand {
      background-image: url("../../img/medeo-logo-flat@2x-09b5951b.png");
      background-size: 107px 33px; } }

/* line 62, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.header-11 .navbar .brand img:first-child {
  margin: 7px 15px 0 0;
  width: 207px; }

@media (min-width: 768px) {
  /* line 68, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
  .header-11 .navbar .brand img:first-child {
    margin: 0px 15px 0 0;
    width: 266px; } }
/* line 74, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.header-11 .navbar .nav > li > a {
  font-family: "Avenir Next", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 500;
  color: #2972c3;
  -webkit-font-smoothing: antialiased; }

/* line 81, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.header-11 .navbar .nav > li > a:hover {
  color: #002a55; }

/* line 85, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.header-11 .navbar .navbar-toggle {
  background-image: url("../../img/medeohealth/icons/menu-icon-header-8-987ef3e8.png"); }

/* line 89, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.header-11 .navbar .btn {
  border: 1px solid #b3cfeb;
  background: transparent;
  color: #2972c3;
  border-radius: 3px;
  padding: 4px 9px;
  text-transform: capitalize;
  font-size: 15px;
  font-family: "Avenir Next", "Helvetica Neue", "Helvetica", Arial, sans-serif; }
  /* line 98, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
  .header-11 .navbar .btn:hover {
    color: #002a55; }

/* line 103, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.header-11-sub {
  padding-top: 55px;
  padding-bottom: 30px; }

/* line 108, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.header-11-sub {
  background: url("../../img/medeohealth/main-bg-2235f6cf.jpg") no-repeat center center;
  background-color: #00B2F8;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* line 117, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.header-11-sub h3 {
  font-size: 26px;
  font-family: "Avenir Next", "Helvetica Neue", "Helvetica", Arial, sans-serif; }

/* line 122, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.header-11-sub p {
  color: #eee;
  font-weight: 300;
  line-height: 1.9; }

/* line 128, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.top-section h3 {
  font-weight: 400; }

/* line 132, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.top-section p {
  margin-bottom: 25px; }

/* line 136, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.top-section .btn {
  margin-bottom: 40px; }

@media (min-width: 992px) {
  /* line 145, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
  .top-section h3 {
    padding-top: 40px; } }
/* Content-4: security is out top priotrity*/
/* line 152, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.content-4 {
  padding-top: 5px;
  padding-bottom: 15px; }

/* line 157, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.content-4 .features h6 {
  color: #fff;
  font-weight: 400;
  font-size: 15px; }

/* line 164, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.content-4 .features > [class*="col-sm-"] {
  position: relative;
  padding-top: 50px;
  padding-left: 58px; }

/* line 170, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.content-4 .features > [class*="col-sm-"] > img:first-child {
  top: 42px; }

/* line 175, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.content-4 .features p {
  font-size: 12px;
  font-weight: normal;
  color: #fff; }

/* line 181, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.content-4 .features .col-sm-4.testimonial {
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 104px; }

/* line 187, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.content-4 .features .col-sm-4.testimonial img {
  position: absolute;
  right: 0px;
  left: inherit;
  top: 25px; }

/* ----------------------------- */
/* Price-1: Early Access Program */
/* line 201, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.price-table.enterprise .price-header .price-cost {
  font-size: 16px; }

/* line 205, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.enterprise .price-subheading {
  background: #D1E8F7;
  color: #6FAED6; }

/* line 210, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.price-table.enterprise .price-header {
  background: #6FAED6;
  border-bottom: 2px solid #5186A8; }

/* line 215, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.price-1 .lead {
  font-size: 21px;
  margin-bottom: 60px;
  font-weight: 400; }

/* line 221, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.price-1 h3 {
  color: #2972c3; }

/* line 225, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.price-table {
  margin-bottom: 30px;
  width: 100%; }

/* line 230, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.price-features {
  margin-bottom: 40px; }

/* line 234, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.price-feature {
  color: #2972c3;
  font-size: 18px;
  margin-bottom: 20px;
  display: block; }

/* line 241, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.price-feature i {
  margin-right: 5px; }

@media (min-width: 768px) {
  /* line 246, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
  .price-table {
    clear: both;
    float: right;
    margin-bottom: 10px;
    width: 300px; } }
/* line 254, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.price-table .price-header {
  background: #FFB500;
  border-bottom: 2px solid #D89900;
  color: #fff;
  padding: 15px; }

/* line 261, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.price-table .price-header .price-cost {
  font-size: 32px;
  float: left; }

/* line 266, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.price-table .price-header .price-month-provider {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 16px;
  text-align: right;
  float: right; }

/* line 274, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.price-month-provider span {
  display: block;
  font-size: 11px; }

/* line 279, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.price-subheading {
  background: #FFDD84;
  padding: 10px;
  color: #7F6E42;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 5px; }

/* line 288, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.price-body {
  background: #DFDFDF;
  font-size: 14px;
  text-align: center;
  color: #444;
  padding: 25px; }

/* line 296, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.price-body .price-feature {
  padding: 5px 0px;
  color: #5F5F5F; }

/* ----------------------------- */
/* Form-invite: Early Access Program */
@media (min-width: 768px) {
  /* line 305, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
  .demo-form {
    max-width: 290px; } }
/* line 310, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.demo-form input {
  width: 100%;
  border-box: box-sizing;
  margin: 10px 0px; }

/* line 316, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
input.form-widget {
  background: blue !important; }

/* line 320, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.demo-form .form-control {
  border-radius: 0px;
  padding: 12px 15px;
  height: 55px; }
  /* line 325, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
  .demo-form .form-control::-webkit-input-placeholder {
    color: #ccc !important; }
  /* line 329, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
  .demo-form .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #ccc !important; }
  /* line 333, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
  .demo-form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #ccc !important; }
  /* line 337, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
  .demo-form .form-control:-ms-input-placeholder {
    color: #ccc !important; }

/* line 342, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.demo-form .btn {
  background: #49C400;
  font-size: 15px;
  text-transform: uppercase;
  width: 100%;
  border-radius: 0px;
  padding: 15px; }

/* ----------------------------- */
/* content-5: Connect from anywhere; */
/* line 356, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.content-5 {
  background: #F6F6F6; }

/* line 360, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.content-5 .features > [class*="col-sm-"] h6 {
  font-family: "Avenir Next", "Helvetica Neue", "Helvetica", Arial, sans-serif; }

/* line 365, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.content-5 h3 {
  color: #2972c3;
  margin-bottom: 5px; }

/* line 371, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.content-5 h3 + .lead {
  color: #2972c3;
  font-size: 21px; }

@media (min-width: 768px) {
  /* line 377, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
  .content-5 .features > [class*="col-sm-"] {
    background: rgba(255, 255, 255, 0.8); } }
/* line 383, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.content-5 .features > [class*="col-sm-"] h6,
.content-5 .features > [class*="col-sm-"] p,
.content-5 .features > [class*="col-sm-"] > [class*="fui-"] {
  color: #288EC4; }

/* ----------------------------- */
/* content-7: Real time communication ; */
/* line 396, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.content-7 {
  padding-bottom: 0px; }

/* line 400, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.content-7 h3,
.content-7 h6 {
  color: #2972c3;
  text-align: center;
  font-weight: 500;
  font-family: "Avenir Next", "Helvetica Neue", "Helvetica", Arial, sans-serif; }

/* line 408, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.content-7 .lead {
  font-size: 21px;
  margin-bottom: 60px; }

/* line 413, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.content-7 .secure-features {
  text-align: center;
  line-height: 47px;
  font-weight: 400; }

@media (min-width: 768px) {
  /* line 420, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
  .content-7 .secure-features {
    text-align: right;
    line-height: 73px; } }
/* line 426, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.content-7 .row > .col-sm-5:first-child {
  font-size: 22px;
  font-weight: normal;
  color: #009DDE;
  font-family: "Avenir Next", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 300; }

/* ---------------------------- */
/* request a demo*/
/* line 437, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.content-20 {
  background: #fafafa; }

/* line 441, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.content-20 h3 {
  color: #2972c3; }

/* line 445, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.signup-form {
  text-align: center; }

/* line 449, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.signup-form .form-group {
  text-align: left; }

/* --------------------------- */
/* line 456, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.footer-6 {
  background: red;
  background: #fff;
  border-top: 1px solid #ddd;
  font-size: 0.95em;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  padding-top: 50px; }

/* line 466, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.footer-6 h6 {
  color: #5f6b7a;
  font-size: 18px;
  font-weight: 600;
  font-family: "Avenir Next", "Helvetica Neue", "Helvetica", Arial, sans-serif; }

/* line 473, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.footer-6 nav ul li a {
  color: #5f6b7a;
  font-size: 12px;
  font-family: "Avenir Next", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 500;
  font-size: 13px; }
  /* line 479, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
  .footer-6 nav ul li a:hover {
    color: #5d6065; }

/* line 484, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.footer-6 .social-btns > * > *:first-child {
  color: #009fdc; }

/* line 495, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.footer-6 .icon-facebook,
.footer-6 .icon-twitter,
.footer-6 .icon-mail {
  border: 1px solid;
  padding: 2px;
  margin-right: 5px;
  display: block;
  float: left;
  color: #fff;
  border-radius: 2px;
  font-size: 12px; }
/* line 508, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.footer-6 .icon-facebook {
  background-color: #405faa;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #405faa), color-stop(100%, #324a85));
  background-image: -webkit-linear-gradient(#405faa, #324a85);
  background-image: linear-gradient(#405faa, #324a85);
  border: 1px solid #103670; }
  /* line 491, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
  .footer-6 .icon-facebook:hover {
    background-color: #496abb;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #496abb), color-stop(100%, #324a85));
    background-image: -webkit-linear-gradient(#496abb, #324a85);
    background-image: linear-gradient(#496abb, #324a85); }
/* line 511, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.footer-6 .icon-twitter {
  background-color: #30b6df;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #30b6df), color-stop(100%, #1d99bf));
  background-image: -webkit-linear-gradient(#30b6df, #1d99bf);
  background-image: linear-gradient(#30b6df, #1d99bf);
  border: 1px solid #2090CF; }
  /* line 491, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
  .footer-6 .icon-twitter:hover {
    background-color: #46bee3;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #46bee3), color-stop(100%, #1d99bf));
    background-image: -webkit-linear-gradient(#46bee3, #1d99bf);
    background-image: linear-gradient(#46bee3, #1d99bf); }
/* line 514, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
.footer-6 .icon-mail {
  background-color: #a2a2a2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a2a2a2), color-stop(100%, #888));
  background-image: -webkit-linear-gradient(#a2a2a2, #888);
  background-image: linear-gradient(#a2a2a2, #888);
  border: 1px solid #777; }
  /* line 491, /Users/leenelson/code/medeohealth_com/source/css/medeohealth/style.css.scss */
  .footer-6 .icon-mail:hover {
    background-color: #aeaeae;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aeaeae), color-stop(100%, #888888));
    background-image: -webkit-linear-gradient(#aeaeae, #888888);
    background-image: linear-gradient(#aeaeae, #888888); }
