/* line 134, /Users/leenelson/code/medeohealth_com/source/css/_mixins.scss */
.cf:before, .cf:after {
  content: "";
  display: table; }

/* line 139, /Users/leenelson/code/medeohealth_com/source/css/_mixins.scss */
.cf:after {
  clear: both; }

/* line 143, /Users/leenelson/code/medeohealth_com/source/css/_mixins.scss */
.cf {
  zoom: 1; }

/* line 4, /Users/leenelson/code/medeohealth_com/source/css/ie.css.scss */
.dummy-border {
  display: none !important; }

/* line 9, /Users/leenelson/code/medeohealth_com/source/css/ie.css.scss */
header .medeo-logo {
  display: block;
  width: 155px;
  height: 33px;
  background-image: url("../img/medeo-logo-beta-d7718cfe.png");
  background-size: 155px 33px;
  float: left; }
  /* line 12, /Users/leenelson/code/medeohealth_com/source/css/ie.css.scss */
  header .medeo-logo.beta {
    position: relative; }
    /* line 14, /Users/leenelson/code/medeohealth_com/source/css/ie.css.scss */
    header .medeo-logo.beta:after {
      content: "";
      display: none; }

/* line 24, /Users/leenelson/code/medeohealth_com/source/css/ie.css.scss */
body.home-template section.masthead #fss,
section.masthead .container.home {
  height: 420px; }

/* line 34, /Users/leenelson/code/medeohealth_com/source/css/ie.css.scss */
body.home-template section.masthead .text-content h1 {
  margin-top: 45px; }

/* line 39, /Users/leenelson/code/medeohealth_com/source/css/ie.css.scss */
img#ipad,
img#ipad-inner,
img#ipad-inner-hover {
  display: none; }

/* line 47, /Users/leenelson/code/medeohealth_com/source/css/ie.css.scss */
footer a.medeo-logo-footer {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/img/medeo-maple-leaf-25311e7c.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/img/medeo-maple-leaf-25311e7c.png', sizingMethod='scale')"; }
