//Map popover
//------------------------------------------


//TODO: Consolidate with testimonial bubble
.map {
	position: relative;
}

.conversation {
	top: 0; 
	position: absolute;
	z-index: 1;
}

.map-popover {
	max-width: 210px;
	border-radius: 5px;
	padding: 17px 22px;
	color: #fff;
	font-size: 13px;
	font-weight: $weight-regular;
	position: relative;
	line-height: 1.5;
	// Quote symbol
	&:before {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			left: 25px;
			bottom: -15px;
			border-top: 15px solid;
			border-bottom: 15px solid;
			border-left: 25px solid;
			border-right: 25px solid; 
			z-index: 2000000;
			border-color: #666 transparent transparent #666;
			// border-radius: 2px;
	}
	&:after {
		content: '';
		padding: 3px;
		border-radius: 40px;		
		position: absolute;
		bottom: -35px;
		left: 20px;
		z-index: 10;		
	}
	.popover-name {
		position: absolute;
		color: $text-light;
		font-weight: $weight-semibold;
		bottom: -50px;
		left: 60px;
	}
}

//Doctor popover 
.map-popover.doctor {
	background: $brand;
	top: 180px;
	left: 420px;
	&:before {
		border-color: $brand transparent transparent $brand;
	}
	&:after {
		background: $brand;
	}
}

//Patient popover
.map-popover.patient {
	background: $primary-highlight;
	top: 70px;
	left: 270px;
	&:before {
		border-color: $primary-highlight transparent transparent $primary-highlight;
	}
	&:after {
		background: $primary-highlight;
	}
}






