//Mixins
//------------------------------------------

//TODO: Fix this.
@mixin nudgeIcon($position, $distance) {
	position: relative; 
	@if $position == top { top: $distance; } 
	@elseif $position == bottom { bottom: $distance; } 
	@elseif $position == left { left: $distance; } 
	@elseif $position == right { right: $distance; } 
}




