//------------------------------------------

// * {
// 	-webkit-font-smoothing: antialiased;
// }

body {
	font-family: "proxima-nova";
	color: $color-text;
}

blockquote {
	margin: 20px 0 20px;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
	color: $color-heading;
	font-weight: $weight-regular;
	font-family: "proxima-nova";
	line-height: 1.2;
}

h2 {
	//Most common heading
	margin-bottom: 25px;
	line-height: 1.4;
	font-weight: $weight-regular;
}

h3 {
	font-weight: $weight-regular;
}

h4 {
	margin-bottom: 25px;
	color: $color-subheading;
	font-weight: $weight-light;
	//Common subhead
	font-size: 20px;
	line-height: 1.5;
}

p + h4 {
	margin-top: 25px;
}

h5 {
	margin-bottom: 20px;
	color: $color-heading;
	font-weight: $weight-semibold;
	font-size: 18px;
	line-height: 1.5;
}

p {
	font-size: 16px;
	line-height: 1.5;
}

p + p {
	margin-top: 15px;
}

a {
	@include transition(all ease-in-out 0.1s);
	color: $brand;
	text-decoration: none;
	&:hover {
		color: darken($brand, 10%);
		text-decoration: none;
	}
}

.section-mid {
	a {
		color: lighten($brand, 30%);
		&:hover {
			color: #fff;
		}
	}
}

ul {
	padding: 0;
	margin-top: 15px;
}

ul li {
	list-style-type: none;
}

li {
	font-size: 14px;
	padding: 15px 0;
	color: $color-list;
}

dl {
	color: $color-text;
}

strong {
	color: $color-heading;
}

.step {
	text-transform: uppercase;
}

.role {
	text-transform: uppercase;
	margin-bottom: 20px;
}

//icons
i.icon-ok {
	color: $primary-highlight;
}
