<nav class="nav-wrap hidden-xs">
	<div class="content-nav-desktop">
		<div class="container">
			<div class="row">
				<nav>
					<ul class="nav navbar-nav">
						<li><a href="about.html" data-nav-item="about">Our story</a></li>
						<li><a href="team.html" data-nav-item="team">Team</a></li>
						<li><a href="advisors.html" data-nav-item="advisors">Advisors</a></li>
						<li><a href="http://medeo.theresumator.com/" target="_blank" data-nav-item="careers">Careers</a></li>
						<li><a href="partners.html" data-nav-item="partners">Partners</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</nav>