<form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" class="doc-form">
  <input name="oid" type="hidden" value="00Dd0000000hNFn"><input name="retURL" type="hidden" value="https://www.medeo.ca/thank-you"><input name="lead_source" type="hidden" value="website"><!--NOTE: These fields are optional debugging elements. Please uncomment--><!--these lines if you wish to test in debug mode.--><!--| <input type="hidden" name="debug" value=1>
    | <input type="hidden" name="debugEmail" value="services@medeo.ca">-->
  <div class="control-group half">
    <input id="first_name" maxlength="40" name="first_name" placeholder="First Name" required="required" type="text" class="fltlft">
    <input id="last_name" maxlength="80" name="last_name" placeholder="Last Name" required="required" size="20" type="text" class="fltrt" /></input>
  </div>
  <div class="control-group half">
    <input id="email" maxlength="80" name="email" placeholder="Email" required="required" size="20" type="email" class="fltlft">
    <input id="phone" maxlength="40" name="phone" placeholder="Phone" size="20" type="tel" class="fltrt" /></input>
  </div>
  <div class="control-group full-width">
    <div class="dummy-field"></div>
  </div>
  <div class="control-group centered"><button class="btn btn-large btn-primary" name="submit" type="submit" id="saveForm">Send my request</button></div>
  </input></input></input>
</form>