<section class="section-footer hidden-xs">
	<footer>
		<div class="container">
			<div class="row">

				<div class="col-md-3 hidden-sm">
					<a href="#"><%= image_tag 'medeo-canadian-logo.png', :width=>'110', :class =>"footer-logo" %></a>
					<p>Medeo is available for ipad, iphone, android and desktop. We are making healthcare more accessible and connecting people all over the province.</p>
					<p class="copyright hidden-xs"><strong>©Medeo corporation 2013</strong></p>
				</div>

				<div class="col-sm-3 visible-sm">
					<a href="#" id="footer-logo-md"><%= image_tag 'medeo-canadian-logo.png', :width=>'110', :class =>"footer-logo" %></a>
					<p class="copyright hidden-xs"><strong>©Medeo corporation 2013</strong></p>
				</div>

				<div class="col-sm-2 col-md-2 col-md-offset-1">
					<ul>
						<li><a href="follow-ups.html">Tour</a></li>
						<li><a href="follow-ups.html">Follow ups</a></li>
						<li><a href="bc-specialist-referrals.html">Referrals</a></li>
						<li><a href="prescriptions.html">Prescription</a></li>
						<li><a href="security.html">Security</a></li>
						<li><a href="getting-started.html">Getting started</a></li>
						<li><a href="https://secure.medeo.ca/users/sign_up?initial_role=patient">Sign up</a></li>
					</ul>
					<ul>
						<li><a href="doctors.html">Doctors</a></li>
						<li><a href="https://secure.medeo.ca/users/sign_up?initial_role=practitioner">Sign up</a></li>
					</ul>
				</div>

				<div class="col-sm-2 col-md-2">
					<ul>
						<li><a href="about.html">Our story</a></li>
						<li><a href="team.html">Team</a></li>
						<li><a href="advisors.html">Advisors</a></li>
						<li><a href="http://medeo.theresumator.com/">Careers</a></li>
						<li><a href="partners.html">Partners</a></li>
					</ul>
					<ul>
						<li><a href="press_coverage.html">Press coverage</a></li>
						<li><a href="media_kit.html">Media kit</a></li>
						<li><a href="press_releases.html">Press releases</a></li>
					</ul>
				</div>

				<div class="col-sm-2 col-md-2">
					<ul>
						<li><a href="support.medeo.ca">Support Center</a></li>
						<li><a href="privacy.html">Privacy policy</a></li>
						<li><a href="terms_of_service.html">Terms of service</a></li>
						<li><a href="">Security</a></li>
					</ul>
					<ul>
						<li><a href="contact.html">Contact us</a></li>
						<li><a href="http://blog.medeo.ca/">Blog</a></li>
						<li><a href="http://blog.medeo.ca/">Clinic hours</a></li>
					</ul>
				</div>

				<div class="col-sm-3 col-md-2 col-md-offset-0">
					<ul>
						<li>208 - 128 West 6th Ave.</li>
						<li>Vancouver, BC</li>
						<li>V5Y 1K6</li>
					</ul>
					<ul>
						<li>Toll Free: (888) 297-2973</li>
						<li>Fax: (604) 227-6238</li>
					</ul>
					<ul class="social-icons">
						<li><a href="https://www.facebook.com/medeoapp" target="_blank"><i class="icon-facebook"></i></a></li>
						<li><a href="https://twitter.com/medeo" target="_blank"><i class="icon-twitter"></i></a></li>
						<li><a href="http://www.youtube.com/user/medeoapp"><i class="icon-youtube-play"></i></a></li>
						<li><a href="mailto:info@medeo.ca"><i class="icon-mail2"></i></a></li>
					</ul>
				</div>
			</div><!--/row-->

		</div>
	</footer>
</section>