<section class="section-lightest section-free-account">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 text-center">
				<h2>Create your <strong>free</strong> account today!</h2>
				<h4>Save time & start managing your health online.</h4>
				<a href="" class="btn btn-primary btn-large">Get started</a>
				<a href="" class="btn btn-default btn-large">Learn more</a>
			</div>
		</div>
	</div>
</section>