<nav id="sidebar-global-nav">
  <!-- <a href="#" id="nav-close" class="pull-right"><i class="icon-cancel"></i></a>   -->
	<ul class="nav">
    <li><a href="follow-ups.html">Tour</a></li>
    <li><a href="follow-ups.html">Follow ups</a></li>
    <li><a href="bc-specialist-referrals.html">Referrals</a></li>
    <li><a href="prescriptions.html">Prescriptions</a></li>
    <li><a href="security.html">Security</a></li>
	</ul>
	<ul class="nav">
    <li><a href="doctors.html">Doctors</a></li>
	</ul>
  <ul class="nav">
    <li><a href="about.html">Our story</a></li>
    <li><a href="team.html">Team</a></li>
    <li><a href="advisors.html">Advisors</a></li>
    <li><a href="advisors.html">Careers</a></li>
    <li><a href="partners.html">Partners</a></li>
    <li><a href="press_coverage.html">Press coverage</a></li>
    <li><a href="media_kit.html">Media kit</a></li>
    <li><a href="press_releases.html">Press releases</a></li>
    <li><a href="http://support.medeo.ca">Support center</a></li>
    <li><a href="privacy.html">Privacy Policy</a></li>
    <li><a href="terms_of_service.html">Terms of service</a></li>
    <li><a href="terms-of-service.html">Security</a></li>
  </ul>
  <ul class="nav">
    <li><a href="contact.html">Contact us</a></li>
    <li><a href="http://blog.medeo.ca/">Blog</a></li>
  </ul>
  <ul class="nav social-icons">
    <li><a href="https://www.facebook.com/medeoapp" target="_blank"><i class="icon-facebook"></i></a></li>
    <li><a href="https://twitter.com/medeo" target="_blank"><i class="icon-twitter"></i></a></li>
    <li><a href="http://www.youtube.com/user/medeoapp"><i class="icon-youtube-play"></i></a></li>
    <li><a href="mailto:info@medeo.ca"><i class="icon-mail2"></i></a></li>
  </ul>
</nav><!--/sidebar-global-nav-->