<div class="masthead-nav navbar hidden-xs">
  <div class="container">
    <div class="navbar-header">
      <a href="index.html" class="navbar-brand"><%= image_tag 'medeo-logo-brand.png', :class=>"retina" %></a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="follow-ups.html">Tour</a></li>
        <li><a href="#" class="" id="sign-up-btn">Sign up</a></li>
        <li><a href="#" class="" id="sign-in-btn">Sign in</a></li>
        <li><a href="#" id="menu-toggle">Menu <i class="icon-reorder"></i></a></li>
      </ul>
    </div>
  </div>
</div>