<div class="masthead-nav navbar visible-xs">
  <div class="container">
    <div class="navbar-header">
      <a href="index.html" class="navbar-brand"><%= image_tag 'medeo-logo-brand.png', :class=>"retina" %></a>
      <a href="#" id="menu-toggle" class="pull-right"><i class="icon-reorder"></i></a>
    </div>
  </div>
</div>