<meta charset="utf-8">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta name="description" content="Video visit BC doctors online. Medeo connects you with licensed physicians using your computer, iPhone or iPad.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="apple-itunes-app" content="app-id=618233211">
<meta name="alexaVerifyID" content="s-WAGp4Wu2BwhGbJgfGv11CoGTg" />

<!-- Use title if it's in the page YAML frontmatter -->
<title><%= data.page.title || "The Middleman" %></title>

<!-- Typekit -->
<script type="text/javascript" src="//use.typekit.net/odl6anw.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<%= stylesheet_link_tag "normalize", "all" %>
<!--[if IE]><%= stylesheet_link_tag "ie" %><![endif]-->
<!--[if IE 8]><%= stylesheet_link_tag 'ie-lt-9' %><![endif]-->