<section class="section section-lightest how-it-works visible-lg visible-md">
  <div class="container">
    <div class="row">
      <div class="col-md-12"><h2 class="text-center">Renew your prescription in 4 easy steps</h2></div>
      <div class="col-md-6">
        <div class="steps">
          <div class="benefits-step active" data-position="1">
            <div class="progress-step">
              <i class="icon-progress-number">1.</i>
              <i class="animated icon-ok"></i>
            </div>
            <h4>Select your preferred pharmacy</h4>
            <p>When you talk to a Medeo Coordinator for the first time, we’ll record which pharmacy you want your prescriptions sent to.</p>
          </div>
          <div class="benefits-step" data-position="2">
            <div class="progress-step">
              <i class="icon-progress-number">2.</i>
              <i class="animated icon-ok"></i>
            </div>
            <h4>Talk to your doctor on Medeo</h4>
            <p>When you connect with your BC doctor on Medeo, they will create a care plan for you. If it includes a prescription it will be added to your case history.</p>
          </div>
          <div class="benefits-step" data-position="3">
            <div class="progress-step">
              <i class="icon-progress-number">3.</i>
              <i class="animated icon-ok"></i>
            </div>
            <h4>Your ePrescription is created</h4>
            <p>The Medeo Coordinator will send the prescription to your pharmacy electronically.</p>
          </div>
          <div class="benefits-step" data-position="4">
            <div class="progress-step">
              <i class="icon-progress-number">4.</i>
              <i class="animated icon-ok"></i>
            </div>
            <h4>Ready for pick up</h4>
            <p>You will receive notification when your prescription is ready for you so you spend less time waiting around at the pharmacy.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ipad-wrap">
          <div class="ipad"></div>
          <div class="ipad-inner">
            <div class="step active animated"><%= image_tag "prescriptions-step-1.jpg", :alt => "BC medical assistant on iPad" %></div>
            <div class="step animated"><%= image_tag "prescriptions-step-2.jpg", :id =>"step-2",:alt =>"Vancouver doctor video conference" %></div>
            <div class="step animated">
              <%= image_tag "prescriptions-step-3c.jpg", :id =>"prescriptions-step-3c", :alt => "BC allergy care online" %>
            </div>
            <div class="step animated"><%= image_tag "step-4.jpg", :alt => "prescription by email" %></div>
          </div>
          <nav class="step-indicators">
            <a href="" class="prev"><i class="icon-angle-left"></i><span>Prev Step</span></a>
            <ul>
              <li class="benefits-step active" data-position='1'><a href="">1</a></li>
              <li class="benefits-step" data-position='2'><a href="#">2</a></li>
              <li class="benefits-step" data-position='3'><a href="#">3</a></li>
              <li class="benefits-step" data-position='4'><a href="#">4</a></li>
            </ul>
            <a href="" class="next"><span>Next Step</span><i class="icon-angle-right"></i></a>
          </nav>
        </div>
      </div>
    </div>
  </div><!-- container -->
</section><!-- how it works -->
