<section class="section how-it-works section-lightest visible-md visible-lg">
  <div class="container">
    <div class="row">
      <h2 class="text-center">How to connect with a specialist using Medeo</h2>
      <div class="col-md-6">
        <div class="steps">
          <div class="benefits-step active" data-position="1">
            <div class="progress-step">
              <i class="icon-progress-number">1.</i>
              <i class="animated icon-ok"></i>
            </div>
            <h4>Connect with a Medeo Coordinator</h4>
            <p>The Medeo coordinator will refer you to your family doctor or another doctor we have available to see you.</p>
          </div>
          <div class="benefits-step" data-position="2">
            <div class="progress-step">
              <i class="icon-progress-number">2.</i>
              <i class="animated icon-ok"></i>
            </div>
            <h4>Talk to your doctor on Medeo</h4>
            <p>If the doctor sees fit, they can issue you a referral to a specialist.</p>
          </div>
          <div class="benefits-step" data-position="3">
            <div class="progress-step">
              <i class="icon-progress-number">3.</i>
              <i class="animated icon-ok"></i>
            </div>
            <h4>Receive your specialist referral</h4>
            <p>The doctor will attach a referral letter to your care plan. If the doctor has recommended you see a specific specialist, the Medeo Coordinator will send your referral letter to their office. If it is left up to you to pick your preferred specialist you can download it, print it, and bring it with you to the specialist’s office.</p>
          </div>
          <div class="benefits-step" data-position="4">
            <div class="progress-step">
              <i class="icon-progress-number">4.</i>
              <i class="animated icon-ok"></i>
            </div>
            <h4>Receive confirmation of your appointment with a specialist</h4>
            <p>Some specialist’s offices will send confirmation with an appointment date and time back to Medeo, where a coordinator will contact you with the details. Others prefer to contact the patient directly, and if this is the case you will receive a call from the specialist’s office.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ipad-wrap">
          <div class="ipad"></div>
          <div class="ipad-inner">
            <div class="step active animated"><%= image_tag "prescriptions-step-1.jpg", :alt => "BC medical specialist on iPad" %></div>
            <div class="step animated"><%= image_tag "prescriptions-step-2.jpg", :id => "step-2", :alt => "vancouver doctor online" %></div>
            <div class="step animated">
              <%= image_tag "referrals-step3.jpg", :id =>"prescriptions-step-3c", :alt => "BC allergy care online" %>
            </div>
            <div class="step animated"><%= image_tag "referrals-step4.jpg" , :alt =>"dermatologist referral attachment" %></div>
          </div>
          <nav class="step-indicators">
            <a href="" class="prev"><i class="icon-angle-left"></i><span>Prev Step</span></a>
            <ul>
              <li class="benefits-step active" data-position='1'><a href="">1</a></li>
              <li class="benefits-step" data-position='2'><a href="#">2</a></li>
              <li class="benefits-step" data-position='3'><a href="#">3</a></li>
              <li class="benefits-step" data-position='4'><a href="#">4</a></li>
            </ul>
            <a href="" class="next"><span>Next Step</span><i class="icon-angle-right"></i></a>
          </nav>
        </div>
      </div>
    </div>
  </div><!-- container -->
</section><!-- how it works -->
