<div class="navbar navbar-medeo-ld">
  <div class="container">
  	<div class="row">
  		<div class="col-sm-12 col-md-10 col-md-offset-1">
  			<a href="http://medeo.ca"><%= image_tag "ld-landing-page/medeo-logo@2x.png", :style=> "width: 115px", :class=>"medeo-brand brand" %></a>
  			<a href="http://londondrugs.com"><%= image_tag "ld-landing-page/ld-logo@2x.png", :style=> "width: 262px", :class=>"ld-brand brand" %></a>
  		</div>
  	</div>    
  </div>
</div>