<section class="section-light media-contacts">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-lg-offset-2">
        <h3>Media contacts</h3>
        <p><small>If you would like to publish a story about Medeo or know somebody that would, please direct all of your questions and concerns to the following contacts.</small></p>
      </div>

      <div class="col-lg-5">
        <ul class="list-condensed">
          <li class="list-title">James Basnett</li>
        	<li>Medeo Corporation</li>
        	<li>1-888-297-2973 ext. 108</li>
        	<li>Mobile: 778-998-6555</li>
        	<li>www.medeo.ca</li>
        	<li><a href="mailto:media@medeo.ca">media@medeo.ca</a></li>
        </ul>

        <ul class="list-condensed">
          <li class="list-title">Karen Cook</li>
          <li>604-551-9074</li>
          <li><a href="mailto:karen@cookpublicrelations.com">karen@cookpublicrelations.com</a></li>
        </ul>
      </div>

    </div>
  </div>
</section>