<div class="row visible-xs">
  <div class="col-xs-6 col-lg-2">
    <ul>
      <li><a href="">Support Center</a></li>
      <li><a href="">Privacy policy</a></li>
      <li><a href="">Terms of service</a></li>
      <li><a href="">Security</a></li>
    </ul>
  </div>

  <div class="col-xs-6 col-lg-2">
    <ul>
      <li><a href="">Connect</a></li>
      <li><a href="">Contact us</a></li>
      <li><a href="">Blog</a></li>
      <li>1 888 297 2973</li>
    </ul>
  </div>
</div>

<div class="row visible-xs">
  <div class="col-xs-12 text-center">
    <ul class="social-icons">
      <li><a href="#"><i class="icon-facebook"></i></a></li>
      <li><a href="#"><i class="icon-twitter"></i></a></li>
      <li><a href="#"><i class="icon-youtube-play"></i></a></li>
    </ul>
  </div>
</div>
<div class="row visible-xs">
  <div class="col-xs-12 text-center">
    <p class="copyright visible-xs"><strong>©Medeo corporation 2013</strong></p>
  </div>
</div>