<nav class="nav-wrap hidden-xs">
  <div class="content-nav-desktop">
    <div class="container">
      <div class="row">
        <nav>
          <ul class="nav navbar-nav">
            <li><a href="press_coverage.html" data-nav-item="press_coverage">Press coverage</a></li>
            <li><a href="media_kit.html" data-nav-item="media_kit">Media kit</a></li>
            <li><a href="press_releases.html" data-nav-item="press_releases">Press releases</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</nav>