<section class="masthead masthead-tour section-flush">
  <div class="container">
    <div class="masthead-title">
      <h1>Medeo tour</h1>
      <!-- <h4>Medeo is more than just video conferencing software</h4> -->
    </div>
  </div>
</section>