<nav class="nav-wrap visible-xs">
  <div class="content-nav">
    <div class="container">
      <div class="row">
        <nav>
          <div class="nav-controls">
            <a href="" class="prev pull-left"><i class="icon-arrow-left"></i></a>
            <div class="current-page text-center">Follow Ups</div>
            <a href="" class="next pull-right"><i class="icon-arrow-right"></i></a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</nav>