<nav class="nav-wrap hidden-xs">
	<div class="content-nav-desktop">
		<div class="container">
			<div class="row">
				<nav>
					<ul class="nav navbar-nav" data-toggle="hidden">
						<li><a href="follow-ups.html" data-nav-item="follow-ups">Follow ups</a></li>
						<li><a href="bc-specialist-referrals.html" data-nav-item="bc-specialist-referrals">Referrals</a></li>
						<li><a href="prescriptions.html" data-nav-item="prescriptions">Prescriptions</a></li>
						<li><a href="security.html" data-nav-item="security">Security</a></li>
						<li><a href="getting-started.html" data-nav-item="getting-started">How to get started</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</nav>