<%= partial 'contact_masthead' %>

<section class="section-our-location">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>Our office is located in beautiful Vancouver, BC</h2>
        <h4>We are proud to call British Columbia home</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-sm-10 col-sm-offset-1">
        <%= image_tag 'our-location.jpg', :class=>"thumbnail" %>
        <!-- <div>208 - 128 West 6th Ave. <br>Vancouver, BC V5Y 1K6</div> -->
      </div>
    </div>
  </div>
</section>

<section class="section-lightest">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 text-center col-sm-10 col-sm-offset-1">
        <h2>Get in touch</h2>
        <h4>Contact our team about anything related to Medeo. We'll do our best to get back to you as soon as possible.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1">
        <%= partial 'contact_us_form' %>
      </div>
    </div>
  </div>
</section>