<%= partial 'tour_masthead' %>
<%= partial 'tour_nav_md' %>

<nav class="nav-wrap visible-xs">
  <div class="content-nav">
    <div class="container">
      <div class="row">
        <nav>
          <div class="nav-controls">
            <a href="getting-started.html" class="prev pull-left"><i class="icon-arrow-left"></i></a>
            <div class="current-page text-center">Follow Ups</div>
            <a href="bc-specialist-referrals.html" class="next pull-right"><i class="icon-arrow-right"></i></a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</nav>

<section class="section-flush-bottom-tablet follow-ups">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-lg-4 col-lg-offset-1">
				<%= image_tag 'dr-lauren-lrg.png' %>
        <hr class="visible-xs">
			</div>
			<div class="col-sm-5 col-lg-5">
				<h2>Improve your relationship with your doctor</h2>
				<p>Research shows that a strong primary care system, centred on continuous doctor-patient relationships, leads to the best health outcomes for patients.</p>
				<a href="" class="btn-link hidden-sm">Use Medeo for your follow up visits.</a>
			</div>
		</div>
	</div>
</section>

<section class="section-light gp-for-me">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h3>A GP for me program</h3>
				<p><small>A GP for Me is a program sponsored by the Ministry of Health and the BC Medical Association to provide all British Columbians who want one with access to a family doctor.</small></p>
			</div>
			<div class="col-lg-4">
				<ul class="gp-for-me list-checked list-bordered">
					<li><i class="icon-ok"></i>Groups of doctors in communities will be developing plans to increase access to care in their local areas.</li>
					<li><i class="icon-ok"></i>Individual doctors’ offices will receive support to help make their practices more efficient, which will enable them to take on new patients if they choose to.</li>
				</ul>
			</div>
			<div class="col-lg-4">
				<ul class="gp-for-me list-checked list-bordered">
          <hr class="visible-xs">
					<li><i class="icon-ok"></i>Groups of doctors in communities will be developing plans to increase access to care in their local areas.</li>
					<li><i class="icon-ok"></i>Individual doctors’ offices will receive support to help make their practices more efficient, which will enable them to take on new patients if they choose to.</li>
				</ul>
			</div>
		</div>
	</div>
</section>
