<%= partial 'press_masthead' %>
<%= partial 'press_nav' %>

<nav class="nav-wrap visible-xs">
  <div class="content-nav">
    <div class="container">
      <div class="row">
        <nav>
          <div class="nav-controls">
            <a href="press_coverage.html" class="prev pull-left"><i class="icon-arrow-left"></i></a>
            <div class="current-page text-center">Media kit</div>
            <a href="press_releases.html" class="next pull-right"><i class="icon-arrow-right"></i></a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</nav>

<section class="media-kit">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

        <ul class="list list-striped list-bordered">
          <li>Fact sheet <a href="/pdf/media_kit_fact_sheet.pdf"><i class="icon-download-alt"></i> PDF</a></li>
          <li>Medeo backgrounder <a href="/pdf/media_kit_backgrounder.pdf"><i class="icon-download-alt"></i> PDF</a></li>
          <li>Press release <a href="/pdf/launch_press_release.pdf"><i class="icon-download-alt"></i> PDF</a></li>
        <ul>
      </div>
    </div>
  </div>
</section>

<%= partial 'media_contacts' %>
