<section class="page-title">
  <div class="container">
    <div class="row">
      <h2>Medeo for patients</h2>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row text-center">
      <h2>See your doctor online</h2>
      <h4>Or let us connect you with one</h4>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row text-center">
      <h2>Wherever you are</h2>
      <h4>Access Medeo and see your doctor online</h4>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row text-center">
      <h2>How to get started with Medeo</h2>
      <h4>A simple and secure 3-step process</h4>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row text-center">
      <h2>We're re-inventing the house call</h2>
      <h4>Canadian healthcare for the 21st century</h4>
    </div>  
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1">
        <div class="media">        
          <img class="media-object pull-left">
          <div class="media-body">
            <h5 class="media-heading">Prescription reviews</h5>
            <p>Your doctor can create a prescription that will be sent to your preferred pharmacy. You can view your copy on Medeo anytime.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="media">        
          <img class="media-object pull-left">
          <div class="media-body">
            <h5 class="media-heading">Referrals</h5>
            <p>Your doctor can refer you to a specialist. We manage the communication and send along all your needed health information.</p>
          </div>
        </div>
      </div>    
    </div>
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1">
        <div class="media">        
          <img class="media-object pull-left">
          <div class="media-body">
            <h5 class="media-heading">Visit history</h5>
            <p>Follow your healthcare history. We've made it easy to review the care plans from your doctor. Anytime. Anywhere.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="media">        
          <img class="media-object pull-left">
          <div class="media-body">
            <h5 class="media-heading">Bank-grade data security</h5>
            <p>Privacy and security are very important. Our network and servers are built and managed with bank-level security. All data is stored in Canada.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="popular-uses">
  <div class="container">
    <div class="row text-center">
      <h2>Take a tour of Medeo</h2>
    </div><!--/row -->
    <div class="row">
      <div class="col-lg-3 text-center">
        <i class="icon-calendar color-brand"></i>
        <h5>Follow ups</h5>
        <p>Build a better relationship with your doctor.</p>
      </div>
      <div class="col-lg-3 text-center">
        <i class="icon-chat-3 color-highlight"></i>
        <h5>Medical questions</h5>
        <p>Have a question ? Have it answered quickly.</p>
      </div>
      <div class="col-lg-3 text-center">
        <i class="icon-pill color-brand"></i>
        <h5>Prescriptions</h5>
        <p>Renew your prescriptions online using Medeo.</p>
      </div>
      <div class="col-lg-3 text-center">
        <i class="icon-heart color-highlight"></i>  
        <h5>Care plans</h5>
        <p>Access your care plans at any time from any device.</p>
      </div>
    </div>
  </div>
</section>

<%= partial 'free_account_cta' %>