<%= partial 'press_masthead' %>
<%= partial 'press_nav' %>

<nav class="nav-wrap visible-xs">
  <div class="content-nav">
    <div class="container">
      <div class="row">
        <nav>
          <div class="nav-controls">
            <a href="media_kit.html" class="prev pull-left"><i class="icon-arrow-left"></i></a>
            <div class="current-page text-center">Press releases</div>
            <a href="press_coverage.html" class="next pull-right"><i class="icon-arrow-right"></i></a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</nav>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Reinventing the housecall</h2>
        <h4>See a doctor online now: Vancouver based Medeo launches video conferencing platform connecting patients and doctors</h4>

        <p>Vancouver, BC– Medeo.ca is a secure video conferencing platform that connects doctors to patients via computer, iPhone or iPad. Medeo.ca allows BC residents with valid Medical Services Plan coverage to complete an online, provincially insured visit with a licenced BC doctor ­ all from the comfort of their own home or office. It is the first time this technology has been available in BC.</p>

        <p>“Medeo.ca is helping British Columbians enjoy improved access to healthcare,” says Ryan Wilson, CEO of Medeo Corporation. “We have created a made­in­BC app that allows patients to connect with doctors throughout British Columbia through secure, on­line video conferencing.”</p>

        <p>A 2012 study by the Canadian Institute for Health Information found that 32% of Canadian adults reported they have experienced difficulty getting to their family doctor medical appointment. Based on pre­launch patient/doctor experiences, Medeo can help these individuals, and many British Columbians, enjoy improved access to healthcare.</p>

        <p>Medeo.ca reduces the travel time and wait time necessary to see a doctor. This is particularly helpful for individuals with mobility challenges. Medeo also breaks down the geographic barriers many rural British Columbians experience. First Nations communities and people living in rural or remote areas often find it difficult to access a doctor, especially specialists only available in Vancouver and Victoria.</p>

        <p>Using Medeo.ca is easy and takes only minutes. All B.C. residents can sign up at Medeo.ca. Once signed up, patients are connected by video with a Medeo Coordinator who will help prepare for and book an appointment. If the patient’s own doctor offers Medeo based care, he/she will be connected with that physician, if not, he/she will be connected to one of the other physicians available at the time. Following a visit, doctors can use Medeo.ca to prescribe medication, refer a patient to a specialist, and upload care plan information.</p>

        <p>Telehealth solutions like Medeo.ca show proven benefits for patients in many situations across Canada and the world. It improves access to specialists, provides easier follow­up visits, easier chronic disease management visits and can provide relief for busy Emergency Rooms. Medeo.ca allows communities the capacity to stay better connected to health professionals and gain improved access to information and services.</p>

        <p>Traditional telehealth solutions use hardware exclusively installed and available in hospitals but due to resource limitations and difficulties with access, only small numbers of physicians and patients have been able to benefit from it. With Medeo, Canadian medical care joins the mobilerevolution, allowing essentially all physicians and specialists across the province to add online visits to their practice and allowing patients to access care from virtually anywhere they have an internet connection in B.C.</p>

        <section class="section-sm section-flush-bottom">
          <h2>About Medeo</h2>
          <p>Medeo is a privately held, BC­based company with its head office in Vancouver. Medeo.ca was created to equip doctors with modern technology to ensure all Canadians have access to quality health care regardless of their location, mobility or time pressures. Learn more about our highly skilled and passionate leadership team here.</p>

          <p><strong>Editors:</strong></p>
          <p>Medeo can connect you with patients and doctors who have used medeo.ca and are willing to share their stories.</p>
        </section>

      </div>
    </div>
  </div>
</section>

<%= partial 'media_contacts' %>