<%= partial 'tour_masthead' %>
<%= partial 'tour_nav_md' %>

<nav class="nav-wrap visible-xs">
  <div class="content-nav">
    <div class="container">
      <div class="row">
        <nav>
          <div class="nav-controls">
            <a href="bc-specialist-referrals.html" class="prev pull-left"><i class="icon-arrow-left"></i></a>
            <div class="current-page text-center">Prescriptions</div>
            <a href="security.html" class="next pull-right"><i class="icon-arrow-right"></i></a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</nav>

<section class="section-sm section-flush-bottom-tablet section-prescriptons-first">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-lg-5 col-lg-offset-1">
				<%= image_tag 'prescriptions-iphone.png' %>
        <hr class="visible-xs">
			</div>
			<div class="col-sm-5">
				<h2>Save time. Renew your prescriptions on Medeo</h2>
				<p>Reviewing your medication with your doctor on Medeo is so fast and easy. If your care plan includes a prescription you can have it sent straight to your pharmacy.</p>
			</div>
		</div>
	</div>
</section>

<section class="section-lightest visible-xs visible-sm referrals-list">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h2 class="text-center">Renew your prescription in 4 easy steps</h2>
        <ol class="list-striped">
          <li>
            <h4>Select your preferred pharmacy</h4>
            <p>When you talk to a Medeo Coordinator for the first time, we’ll record which pharmacy you want your prescriptions sent to.</p>
          </li>
          <li>
            <h4>Talk to your doctor on Medeo</h4>
            <p>When you connect with your BC doctor on Medeo, they will create a care plan for you. If it includes a prescription it will be added to your case history.</p>
          </li>
          <li>
            <h4>Your ePrescription is created</h4>
            <p>The Medeo Coordinator will send the prescription to your pharmacy electronically.</p>
          </li>
          <li>
            <h4>Ready for pick up</h4>
            <p>You will receive notification when your prescription is ready for you so you spend less time waiting around at the pharmacy.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<%= partial 'how_to_prescriptions' %>