<%= partial 'press_masthead' %>
<%= partial 'press_nav' %>

<nav class="nav-wrap visible-xs">
  <div class="content-nav">
    <div class="container">
      <div class="row">
        <nav>
          <div class="nav-controls">
            <a href="press_releases.html" class="prev pull-left"><i class="icon-arrow-left"></i></a>
            <div class="current-page text-center">Press coverage</div>
            <a href="media_kit.html" class="next pull-right"><i class="icon-arrow-right"></i></a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</nav>

<section class="press-coverage">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

        <section class="section-xs section-flush-top">
          <h3 class="text-center">Articles</h3>
        </section>

        <section class="section-sm section-flush-top">
          <ul class="list list-striped list-bordered">
            <li><span>The Province:</span><a href="http://www.theprovince.com/news/Vancouver+startup+company+aims+reinvent+doctor+patient/8469035/story.html" target="_blank">Vancouver startup lets doctors make virtual house calls</a></li>
            <li><span>The Province:</span><a href="http://www.theprovince.com/news/Editorial+Tech+firms+will+help+government+costs/8474988/story.html" target="_blank">Tech firms will help cut government costs</a></li>
            <li><span>Business in Vancouver:</span><a href="http://www.biv.com/article/20130605/BIV0112/130609977/the-virtual-walk-in-clinic-is-now-open" target="_blank">The virtual walk-in clinic is now open</a></li>
            <li><span>The Calgary Herald:</span><a href="http://www.calgaryherald.com/technology/personal-tech/Virtual+house+call+Medeo+lets+doctors/8469035/story.html" target="_blank">Vancouver startup lets doctors make virtual house calls</a></li>
            <li><span>iPhoneinCanada:</span><a href="http://www.iphoneincanada.ca/app-store/medeo-doctors-bc-iphone-video/?utm_source=rss&utm_medium=rss&utm_campaign=medeo-doctors-bc-iphone-video" target="_blank">Medeo Brings Doctors to your iPhone via Online ...</a></li>
            <li><span>The Vancouver Sun:</span><a href="http://www.vancouversun.com/news/Vancouver+startup+company+aims+reinvent+doctor+patient/8469035/story.html" target="_blank">Vancouver startup lets doctors make virtual house calls</a></li>
            <li><span>Globe and Mail:</span><a href="http://www.theglobeandmail.com/report-on-business/small-business/starting-out/virtual-checkup-vancouver-startup-connects-doctors-patients-through-video-chat/article12445957/" target="_blank">Virtual checkup: B.C. startup connects doctors, patients through ...</a></li>
            <li><span>Steamfeed:</span><a href="http://www.steamfeed.com/medeo-brings-back-the-house-call/" target="_blank">Medeo Brings Back the House Call</a></li>
            <li><span>TechVibes:</span><a href="http://www.techvibes.com/blog/vancouver-startup-medeoca-offers-virtual-house-calls-2013-06-11" target="_blank">Vancouver Startup Medeo.ca Offers Virtual House Calls</a></li>
            <li><span>Vancouver Courier:</span><a href="http://www.vancourier.com/health/doctor+online/8492843/story.html" target="_blank">The doctor is online</a></li>
            <li><span>Times Colonist:</span><span class="no-link">News article in The Times Colonist</span></li>
            <li><span>Journal/digital:</span><span class="no-link">Interview for the Medical Post</span></li>
            <li><span>Journal/digital:</span><span class="no-link"> Interview for Technology for Doctors</span></li>
          </ul>
        </section>

        <section class="section-xs">
          <h3 class="text-center">Videos</h3>
        </section>

        <section class="section-sm section-flush-top">
          <ul class="list list-striped list-bordered">
            <li><span>AM|BC on Global TV:</span><a href="http://globalnews.ca/video/613597/doctors-virtual-housecalls" target="_blank">Doctor’s virtual housecalls</a></li>
            <li><span>The Province:</span><a href="http://www.youtube.com/watch?v=wkVH36CLQss&feature=youtu.be" target="_blank">Medeo -- A new way to see your doctor</a></li>
            <li><span>Frequency Featured:</span><a href="http://www.frequency.com/video/medeo-new-way-to-see-your-doctor/99829148/-/5-78569" target="_blank">Medeo -- A new way to see your doctor</a></li>
            <li><span>NTDTV:</span><a href="http://www.ntdtv.com/xtr/b5/2013/06/06/atext910126.html" target="_blank">Video interview on NTDTV</a></li>
            <li><span>CBC News BC video feature</span></li>
          </ul>
        </section>

        <section class="section-xs">
          <h3 class="text-center">Radio</h3>
        </section>

        <ul class="list list-striped list-bordered">
          <li><span>CKNW:</span><a href="https://soundcloud.com/cknwnewstalk980/medeo-does-it-improve-your" target="_blank">Medeo: Does It Improve Your Access To Healthcare?</a></li>
          <li><span>Arlene Bynon show (SiriusXM)</span></li>
          <li><span>CBC Radio 1 Early Edition</span></li>
          <li><span>Radio-Canada</span></li>
          <li><span>The Rush FM</span></li>
        </ul>

      </div><!--/col-->
    </div><!--/row-->
  </div> <!--/container-->
</section>

<%= partial 'media_contacts' %>