<hr>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Privacy Policy</h2>
        <p>This policy outlines how we protect the privacy of your personal information and medical record. Everyone working for Medeo Corporation and all physicians using Medeo Corporation’s telehealth platform are required by binding contract to adhere to the protections described in this policy. If you have any questions regarding our privacy practices, please speak with your doctor or call us at 1-888-297-2973.</p>
        <h4>Critically Important</h4>
        <p>Medeo Corporation uses online video-conferencing and internet-reliant app-based triage technology. Access to your account requires a password that you create plus a random 4 digit code that is sent to you via SMS, it is your responsibility to ensure that your password is of sufficient strength and is changed regularly to prevent unauthorized access. Medeo Corporation staff and our physician users ensure we secure our end of the connection with appropriate levels of encryption, use of firewalls and computer malware detection/elimination. You and you alone are responsible for ensuring that you do not disclose your account access information to third parties, this includes but is not limited to not disclosing this information to anyone, ensuring that sufficient security software is installed and running on your computer, smartphone or tablet, that your network firewall is of sufficient quality and that your wireless connection is encrypted to a degree that will prevent third party access. Failure to secure your own machine and its access to the internet and/or use of public, unsecured networks and/or failure to eliminate malware makes you very vulnerable to privacy breaches, and we can do nothing about this.</p>
        <p>Medeo operates on world-class IBM server infrastructure wholly located within Canada. We deploy industry-standard Cisco Firewalls and follow security industry best practices. Diesel backup generators and battery operated uninterruptible power supplies ensure that our equipment continues to operate in the event of a disaster or prolonged electrical outage. Multiple redundant connections to the internet ensure that our web application will continue to serve requests in the event of a network outage. Our equipment is stored in a facility with equipped with 24&#215;7 security, man traps, cameras, biometric access cards, security cameras, and individually locked cages to protect our equipment. Medeo encrypts your video conferencing and communication to our website/web applications with the same industry standard encryption used to protect your online banking. Talking to a doctor via Medeo is more secure than by telephone. We deploy two factor authentication to ensure that in addition to stealing your password a hacker would also have to be in possession of your mobile telephone.</p>

        <p>
          The service we provide involves allowing you to connect with general practitioners and specialists through video conferencing technology. Providing you with access to medical professionals online means that we will be collecting personal information about you as well as your personal health information. We value your privacy as a patient and have developed this policy to ensure that we comply with requirements for the protection of personal information. This policy sets out how we collect, use and disclose your personal information, and your rights as a patient with respect to the personal
          information that we have collected.
        </p>
        <p>
          We are accountable for protecting the personal information that you provide to us in the course of our providing the service. We have ensured that everyone who works for Medeo, and the third parties with which we contract, understand the sensitivity of patient information and are required to adhere to the protection of personal information as set out in this policy. We educate and train our staff on the importance of protecting personal information and ensure that access is provided only on a need-to-know basis. We use rules-based access to ensure that only those who are authorized to access your personal information can access it.
        </p>

        <h4>Collection of Personal Information</h4>
        <p><strong>What personal information do we collect?</strong></p>
        <p>We collect the following information as required in order to provide services to you, confirm your identity, diagnose and provide treatment for your medical condition, and to administer the account for the services such as billing, the provincial medicare plan, or other billing administration. We also create an account with your personal information that allows us to serve you better as a repeat user.</p>
        <p>In particular, some of the personal information that we collect about you in order to provide the services, include:</p>
        <ul class="list-striped">
          <li>Identification and Contact information (name, address, date of birth, email, etc)</li>
          <li>Billing Information (Provincial Health Care plan or private insurer information)</li>
          <li>Health Information (symptoms, diagnosis, medical history, test results, reports and treatment, record of allergies, prescriptions, etc)</li>
          <li>Personal information about you to allow us to create a profile for you, including information about your family doctor, your personal health information, your record of visits through Medeo Corporation.</li>
          <li>Internet, computer and other diagnostic information including your IP Address, computer/software/browser type.</li>
        </ul>
        <h4>Limits on Collection:</h4>
        <p>We collect only the information that is required to provide care, administrate the care that is provided and communicate with you. We do not collect any other information, or allow information to be used for other purposes without your express (written or verbal) consent – except where compelled to do so by law.</p>
        <h4>Use and Disclosure of Personal Information</h4>
        <p>We use and disclose your personal information in order to provide the services you have requested for yourself. For example, we use and disclose your personal information in the following circumstances:</p>
        <ul class="list-striped">
          <li>To schedule a visit with a treating physician and to send any appropriate records to the treating physician.</li>
          <li>To ensure that your clinical data is stored on electronic medical record systems in use in the province of British Columbia.</li>
          <li>For administration of billing, such as through the Provincial Health Care plan or private insurer information.</li>
          <li>To other health care providers involved in your care and not limited to other physicians, specialists, pharmacists, lab technicians, nutritionists, physiotherapists, and occupational therapists.</li>
        </ul>
        <p>Where the disclosure is required by law such as reporting infectious diseases pursuant to statutory obligation, reporting abuse, reporting sickness, for quality assessment, for risk and error management, to regulatory bodies, to law enforcement in certain circumstances, to comply with a subpoena or court order or records, or for other statutory or legal purposes.</p>
        <h4>Consent</h4>
        <p>By virtue of your seeking care from us, we take your consent to be implied for your personal information to be used by Medeo Corporation to refer you to a medical practitioner, to send your records and schedule the visit with the medical practitioner, to create a profile for you, and to send your clinical data to electronic medical records systems.</p>
        <p>We will seek your consent for disclosures to third parties such as to third party medical examinations, insurance companies and for research purposes.</p>
        <p>Medeo Corporation will use data collected through the provision of services on an aggregate or anonymized basis to develop data on outcomes for patient health and patient care. You may opt in to sharing your personal information for these purposes.</p>
        <p>
          You can withdraw your consent to have your personal information stored with Medeo Corporation, and to have your personal information shared with other health care providers or parties except where the disclosure is required by law. In that case, if there are any significant consequences that might result with respect to your care and treatment, we will provide that information to you.
        </p>
        <h4>Patient Rights</h4>
        <p>How do you access the personal information held by the Medeo Corporation platform? You have the right to access your record in a timely manner. If you request a copy of your record, one will be provided to you at a reasonable cost. If you wish to view the original record, Medeo Corporation has a policy of allowing access to our records database (via your secure logon and password). If you would like a physical or electronic copy, one will be provided for a reasonable fee.</p>
        <p>Limitations on access: In extremely limited circumstances you may be denied access to your records, but only if providing access would create a significant risk to you or to another person.<br />
          What if you feel your record is not accurate? We make every effort to ensure that all of your information is recorded accurately. If an inaccuracy is identified, you can request that a note be made to reflect this on your file.
        </p>
        <h4>Medeo Corporation Safeguards</h4>
        <p><strong>How secure is your information?</strong></p>
        <p>Safeguards are in place to protect the security of your information. These safeguards include a combination of physical, technological, and administrative security measures that are appropriate to the sensitivity of the information. These safeguards are aimed at protecting personal information against loss or theft, as well as unauthorized access, disclosure, copying, use or modification. Our procedures and policies with respect to this are no different than a standard brick-and-mortar medical clinic.</p>
        <p>
          Given that we use online technology to transmit information, we have developed a robust authentication, authorization and auditing system that authorizes access to all of our resources and keeps a log of every access to each resource. All communication is encrypted using SSL encryption between the servers and from any user to and from the application. All video streams enabling video conferences are also always encrypted. However, because Medeo Corporation uses online video-conferencing and internet-reliant app-based triage technology. Access to your account requires a password that you create. It is your responsibility to ensure that your password is of sufficient strength and is changed regularly to prevent unauthorized access. Medeo Corporation and our physician users ensure we secure our end of the connection. You and you alone are responsible for ensuring that you do not disclose your account access information to third parties, this includes but is not limited to ensuring that sufficient security software is installed and running on your computer, smartphone, or tablet, that your network firewall is of sufficient quality and that your wireless connection is encrypted to a degree that will prevent third party access. Failure to secure your own machine and its access to the internet and/or use of public, unsecured networks and/or failure to eliminate malware makes you very vulnerable to privacy breaches, and we can do nothing about this.
        </p>
        <h4>What is our communications policy?</h4>
        <p>We protect personal information regardless of the format. Specific procedures are in place for communicating by phone, email, fax, and post/courier.</p>
        <p>We retain patient records as required by law and professional regulations.</p>
        <p>How do we dispose of information when it is no longer required? When information is no longer required, it is destroyed in a secure manner, according to set procedures that govern the storage and destruction of personal information.</p>
        <h4>Complaints Process</h4>
        <p>
          If you believe that this office has not replied to your access request or has not handled your personal information in a reasonable manner, please address your concerns with a Medeo Corporation office assistant. If you would like more information about our privacy protection practices, you should also contact us and we will take steps to endeavor to provide you with that information.
        </p>
        <p>You may also choose to make a complaint to the provincial privacy commissioner. Prior to taking this step please ensure you have addressed your concerns to Medeo Corporation and allowed reasonable time for response.</p>
        <p><strong>This policy is dated May 25, 2013.</strong></p>
      </div>
    </div>
  </div>
</section>

<hr>