<%= partial 'tour_masthead' %>
<%= partial 'tour_nav_md' %>

<nav class="nav-wrap visible-xs">
  <div class="content-nav">
    <div class="container">
      <div class="row">
        <nav>
          <div class="nav-controls">
            <a href="prescriptions.html" class="prev pull-left"><i class="icon-arrow-left"></i></a>
            <div class="current-page text-center">Security</div>
            <a href="getting-started.html" class="next pull-right"><i class="icon-arrow-right"></i></a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</nav>

<section class="section-security">
	<div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="visible-sm">Your medical data is 100% secure with Medeo.</h2>
      </div>
    </div>
		<div class="row">
			<div class="col-lg-4 col-sm-5">
				<h2 class="hidden-sm">Rest assured. Your medical data is 100% secure with Medeo.</h2>
				<p>Security is our top priority. Medeo is constantly working to provide the highest level of protection for health data. Medeo's video conferencing uses military-grade encryption of all patient data, video and audio conferencing.</p>
				<a href="" class="btn-link hidden-xs"><i class="icon-play-sign"></i> Watch the video</a>
			</div>
			<div class="col-sm-6 col-sm-offset-1 col-lg-offset-1">
				<div class="video-container">
					<a href="">
						<div class="video-thumbnail-lrg">
							<i class="icon-play-sign"></i>
							<%= image_tag 'security-video-thumbnail.jpg' %>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section-light security-points section-flush-bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h3>Servers & network</h3>
				<ul class="list-bordered list-checked">
					<li><i class="icon-ok"></i>Our data is always and only stored in Canada. Our datacenters are located in Vancouver and BC’s Interior</li>
					<li><i class="icon-ok"></i>SSL encryption. All data is encrypted between servers and devices as well as cross server communication</i></li>
					<li><i class="icon-ok"></i>Medeo regularly installs security updates and patches on its servers and equipment</li>
				</ul>
			</div>
			<div class="col-lg-4">
				<h3>Medeo office</h3>
				<ul class="list-bordered list-checked">
					<li><i class="icon-ok"></i>Sensitive data is encrypted on our servers so that anyone, including Medeo employees, can not access your personal information</li>
					<li><i class="icon-ok"></i>Medeo's video conferencing uses military-grade encryption of all patient data, video and audio conferencing</li>
					<li><i class="icon-ok"></i>Medeo employs full time Certified Information Systems Auditors with experience in securing billions of dollars in financial transactions for Canada's banks.</li>
				</ul>
			</div>
			<div class="col-lg-4">
				<h3>Web & mobile</h3>
				<ul class="list-bordered list-checked">
					<li><i class="icon-ok"></i>Development adheres to bank-level industry standard coding guidelines</li>
					<li><i class="icon-ok"></i>Software is developed in-house and are audited before launch</li>
					<li><i class="icon-ok"></i>Medeo's software undergoes frequent testing for security and quality</li>
				</ul>
			</div>
		</div>
	</div>
</section>




